<div id="root">
    <button class="call">Call</button>
    <button class="answer">Answer</button>
    <button class="message">message</button>
    <div class="videoCall">
        <video autoplay class="incoming" ></video>
        <video autoplay muted class="outgoing" ></video>
    </div>
</div>